div {
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    -webkit-box-shadow: 4px 4px 26px #808080;
    -moz-box-shadow: 4px 4px 26px #808080;
    box-shadow: 4px 4px 26px #808080;
    background-image: -moz-linear-gradient(top, #eeeeee 1%, #eeeeee 70%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.01, #eeeeee), color-stop(0.7, #eeeeee));
    background-color: #DDDDDD;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;
    color: #888888;
    text-align: center;
}